
* {
    margin:0;
    padding:0;
}

.headerleft img{
    object-fit: contain; 
    height: 60px;
    margin-left: 20px;
    padding-right: -20px; 
    margin-top: -10px;
    
}






.about{
    margin-left: 10px;
    text-transform: capitalize;
    color: gray;
    padding: 7px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    
}
.about h3{
    font-size: small;
    font-weight: 400;

}

.about:hover {
    margin-left: 10px;
    text-transform: capitalize;
    font-weight: 300;
    color: rgb(32, 31, 31);
    padding: 7px;
    border-radius: 30px;
    background-color: rgb(230, 225, 225);
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0px 2px 2px -2px ;
    
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(238, 233, 233);
    border-top: 4px solid rgb(231, 89, 6);
}
.headerleft{
    display: flex;
    align-items: center;
    margin-top: -1px;

}



.headermiddle {
    display: flex;
    flex: 0.7;
    align-items: center;
    background-color:white;
    /* padding: 3px; */
    border-radius: 5px;
    box-shadow: 2px 2px 10px -5px ;
    margin-top: -1px;
    height: -5px;

}

.material-symbols-outlined{
    color:gray;
}
.headermiddle input {
    border: none;
    width:100%;
    padding: 8px;
    outline: none;
    font-size: medium;
    background-color: white;
}
.headerright{
    display: flex;
    padding-right: 50px;

}

.sigbt{
    padding: 10px;
    cursor: pointer;    
    align-items: center;
    border-color: rgb(12, 173, 248);
    border-radius: 3px;
    background-color: rgb(12, 173, 248);
    margin-right: 15px;
    color: white;
    margin-top: -1px;

    
}

.logbt{
    padding: 10px;
    cursor: pointer;    
    align-items: center;
    border-color: rgb(167, 225, 250);
    border-radius: 3px;
    background-color: rgb(167, 225, 250);
    margin-right: 15px;
    color: rgb(44, 110, 136);
    margin-top: -1px;

}

.sidebody {
    flex: 0.3;
    max-width: 200px;
    padding-right: 1px;
    margin-right: 1px;
    overflow: scroll;
}

.home{
    color: gray;
    font-weight: 400;
    font-size: small;
    padding-left: 15px;
    margin-top: 15px;

}
.home:hover{
    color: black;

 }
 .public{
    color: gray;
    font-weight: 400;
    font-size: small;
    padding-left: 15px;
    margin-top: 15px;
 }
 
.questions{
    margin-top: 5px;
    color: grey;

}
.questions:hover{
    color: black;
}
.tags{
    font-weight: 400;
    font-size: small;
    padding-left: 15px;
    margin-left: 35px;
    color: grey;

}
.tags:hover{
    color: black;
}
.users{
    font-weight: 750;
    font-size: small;
    padding-left: 15px;
    margin-left: 35px;
    margin-top: 15px;
    background-color: rgb(236, 232, 232);
    padding: 15px;
    height: 15px;
    cursor: pointer;
    margin-top: 5px;
}
.companies{
    font-weight: 400;
    font-size: small;
    padding-left: 15px;
    margin-left: 35px;
    margin-top: 10px;
    color: grey;

}
.companies:hover{
    color: black;
}
.collectives{
    font-weight: 400;
    font-size: small;
    padding-left: 1px;
    margin-left: 15px;
    margin-top: 15px;
    color: grey;

}

.explore{
    font-weight: 400;
    font-size: small;
    padding-left: 1px;
    margin-left: 20px;
    margin-top: 5px;
}
.material-symbols-outlined {
    margin-right: -4px;
}

.sidebodyopt{
    display: flex;
    align-items: 40px;
    height: 40px;
    padding: 0 10px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    color: rgb(77, 75, 75);
    margin-left: 10px;
    margin-top: 5px;
    /* overflow-y: scroll; */
}

.sidebodyopt h3{
    flex: 1;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;

}

.sidebarOpt:hover,
.sidebarOpt:hover h3,
.sidebarOpt:hover .material-symbols-outlined,
.sidebarOpt__active,
.sidebarOpt__active h3,
.sidebarOpt__active .material-symbols-outlined {
  background-color: white;
  color: red;
  font-weight: 800;
}


.sidebodyopt:hover,
.material-symbols-outlined:hover h3 {
    color: rgb(8, 8, 8);
}

.teams{
    width: 130px;
    height: 240px;
    background-color: white;
    border: 1px solid darkgray;
    /* position: relative; */
    margin-top: -20px;
    margin-left:30px;
    font-size: small;
    border-right:transparent ;
    
}
.teamsbd{
    padding: 1px;
}
.teams img{
    object-fit: contain;
    height: 100px;
    margin-left:10px;
    width: 100px;
}

.teamsbt{
    align-items: center;
    height: 30px;
    padding: 0 16px;
    margin-top: 0px;
    cursor: pointer;
    color: black;
    display: flex;
    background-color: orangered;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 5px ;
    border-top: 2px solid white;
}
/* bigbody */
.bigbody{
    display:flex;
    height:100vh;
   
}
body{
    height: 100vh;
    overflow-y: hidden;
    position: relative;
}



/* listsetting */



.listhead{
    flex: 1;
    overflow:scroll;
}
.listsetting {
    position:sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px whitesmoke;
    background-color: white;
    z-index: 999;
    padding: 8px;
}

.listsettingleft{
    box-shadow: 1px 0px 5px -1px rgb(220, 225, 228);
    
    
    
    
}

.box{
    width: 300px;
    padding-right: 100px;
    margin-right: 480px;

}
.name{
    margin-top: 15px;
    /* margin-right: 100px; */
    padding-right: 100px;
    font-weight: 540;
    font-size: xx-large;
    /* padding-left: 15px; */
}

.cakedes{
    font-size: 12px;
    font-weight: 400;
    margin-right: 20px;
    color: gray;
    padding-left: 5px;
    margin-right: 10px;
    margin-top: 8px;
    
}

.namebodyopt{
    display: flex;
    align-items: 40px;
    height: 40px;
    padding: 0 10px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    color: grey;
    margin-left: -10px;
    margin-top: 5px;
}
.locbodyopt{
    display: flex;
    align-items: 40px;
    height: 40px;
    padding: 0 10px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    color: grey;
    margin-left: -10px;
    margin-top: -15px;
}

.section{
    display: flex;
    cursor: pointer;
}

.listsection{
    display: flex;
}

.profile{
    margin-left: 10px;
    text-transform: capitalize;
    color: rgb(253, 250, 250);
    padding: 7px;
    border-radius: 30px;
    background-color: rgb(250, 124, 6);
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    
}
.profile h3{
    font-size: small;
    font-weight: 400;

}

.profile:hover {
    margin-left: 10px;
    text-transform: capitalize;
    font-weight: 300;
    color: rgb(247, 244, 244);
    padding: 7px;
    border-radius: 30px;
    background-color: rgb(216, 109, 22);
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0px 2px 2px -2px ;
    
}
.stats{
    display: flex;
   
}

.statbox{
   width: 240px;
   border: 1px solid rgb(221, 225, 221);
   padding-bottom:15px;
   margin: 10px;
   border-radius: 5px;
   display: flex;

}
.statbox  h3{
    font-weight: 100;
}

.aboutbox{
    margin-top: -195px;
    margin-left:310px ; 
}
.aboutbox h3{
    font-weight:100 ;
    font-size: 15px;
    color: rgb(65, 64, 64);
}

.colltbox{
    width: 240px;
   border: 1px solid rgb(221, 225, 221);
   padding-bottom:15px;
   margin: 10px;
   border-radius: 5px;
   display: flex;
}

.commubox{
    width: 240px;
    height: 1px;
    border: 1px solid rgb(221, 225, 221);
    padding-bottom:205px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    
}
.badgebox{
    width: 240px;
    height: 1px;
    border: 1px solid rgb(221, 225, 221);
    padding-bottom:205px;
    /* margin: 10px; */
    margin-left:300px ;
    margin-top: -160px;
    border-radius: 5px;
    display: flex;

}
.butnbox ul li::before{
    content: "\2022";
    color: yellow;
    font-weight: bolder;
    display: inline-block;
    width: 1em;
    margin-left: -1.5em;
    font-size: 170;
}

.butnbox button {
    padding: 5px;
    cursor: pointer;    
    align-items: center;
    border-color: rgb(204, 207, 208);
    border-radius: 4px;
    border-width: 1.5px;
    /* background-color: rgb(12, 173, 248); */
    margin-right: 15px;
    /* color: white; */
    margin-top: -1px;
    font-size: 12px;
}

.butnbox button:hover{
    background-color:rgb(224, 230, 230) ;

}
.silbdgbox{
    width: 240px;
    height: 1px;
    border: 1px solid rgb(221, 225, 221);
    padding-bottom:205px;
    /* margin: 10px; */
    margin-left:580px ;
    margin-top: -175px;
    border-radius: 5px;
    display: flex;
}

.butn2box button {
    padding: 5px;
    cursor: pointer;    
    align-items: center;
    border-color: rgb(204, 207, 208);
    border-radius: 4px;
    border-width: 1.5px;
    /* background-color: rgb(12, 173, 248); */
    margin-right: 15px;
    /* color: white; */
    margin-top: -1px;
    font-size: 12px;
}
.butn2box button:hover{
    background-color:rgb(224, 230, 230) ;

}
.butn3box button:hover{
    background-color:rgb(224, 230, 230) ;

}

.brobdgbox{
    width: 240px;
    height: 1px;
    border: 1px solid rgb(221, 225, 221);
    padding-bottom:205px;
    /* margin: 10px; */
    margin-left:860px ;
    margin-top: -173px;
    border-radius: 5px;
    display: flex;
}
.butn3box button {
    padding: 5px;
    cursor: pointer;    
    align-items: center;
    border-color: rgb(204, 207, 208);
    border-radius: 4px;
    border-width: 1.5px;
    /* background-color: rgb(12, 173, 248); */
    margin-right: 15px;
    /* color: white; */
    margin-top: -1px;
    font-size: 12px;
}

.toptags{
    width: 800px;
    height: 50px;
    border: 1px solid rgb(221, 225, 221);
    /* padding-bottom:205px; */
    /* margin: 10px; */
    margin-left:300px ;
    margin-top: 5px;
    border-radius: 5px 5px 1px 1px;
    display: flex;
    
}

.toptagm{
    width: 800px;
    height: 50px;
    border: 1px solid rgb(221, 225, 221);
    /* padding-bottom:205px; */
    /* margin: 10px; */
    margin-left:300px ;
    margin-top: 0px;
    border-radius: 0px;
    display: flex;
}

.toptagl{
    width: 800px;
    height: 50px;
    border: 1px solid rgb(221, 225, 221);
    /* padding-bottom:205px; */
    /* margin: 10px; */
    margin-left:300px ;
    margin-top: 0px;
    border-radius: 1px 1px 5px 5px;
    display: flex;
    
}



  .toptags button {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
    padding: 1px;
    border-width: 0px;
    background-color: rgba(178, 227, 227, 0.993);
    color: rgb(61, 61, 224);
    border-color: rgba(178, 227, 227, 0.993)ua;
  }

  .toptagm button {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 10px;

    padding: 1px;
    border-width: 0px;
    background-color: rgba(178, 227, 227, 0.993);
    color: rgb(61, 61, 224);
    border-color: rgba(178, 227, 227, 0.993)ua;
  }
  .toptagl button {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
    padding: 1px;
    border-width: 0px;
    background-color: rgba(178, 227, 227, 0.993);
    color: rgb(61, 61, 224);
    border-color: rgba(178, 227, 227, 0.993)ua;
  }










/* top meta post */


.metatags{
    width: 800px;
    height: 50px;
    border: 1px solid rgb(221, 225, 221);
    /* padding-bottom:205px; */
    /* margin: 10px; */
    margin-left:300px ;
    margin-top: 5px;
    border-radius: 5px 5px 1px 1px;
    display: flex;
    
}

.metatagm{
    width: 800px;
    height: 50px;
    border: 1px solid rgb(221, 225, 221);
    /* padding-bottom:205px; */
    /* margin: 10px; */
    margin-left:300px ;
    margin-top: 0px;
    border-radius: 0px;
    display: flex;
}

.metatagl{
    width: 800px;
    height: 50px;
    border: 1px solid rgb(221, 225, 221);
    /* padding-bottom:205px; */
    /* margin: 10px; */
    margin-left:300px ;
    margin-top: 0px;
    border-radius: 1px 1px 5px 5px;
    display: flex;
    
}



  .metatags button {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    border-width: 1px;
    border-radius:5px  ;
    background-color: rgba(242, 246, 246, 0.993);
    color: rgb(52, 52, 54);
    border-color: rgb(182, 187, 189);
  }

  .metatagm button {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 10px;

    padding: 5px;
    text-align: center;

    border-width: 1px;
    border-radius:5px  ;
    background-color: rgba(242, 246, 246, 0.993);
    color: rgb(52, 52, 54);
    border-color: rgb(182, 187, 189);
  }
  .metatagl button {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;

    border-width: 1px;
    border-radius:5px  ;
    background-color: rgba(242, 246, 246, 0.993);
    color: rgb(52, 52, 54);
    border-color: rgb(182, 187, 189);
  }

/* topmeta post and top network ens */










  .dropbtn {
    background-color: #eef0ef;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    margin-left: -150px;
    cursor: pointer;
    
  }
  
  .dropdown button{
    /* border-color: rgb(33, 9, 158); */
    color: rgb(128, 123, 125);
    border-radius: 10px;
    border-width: 20px;
    
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -150px;
    margin-top:1px ;
    padding-top: 15px;

  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #d2d8d2;}

  .postbt button {
    color: rgb(69, 67, 67);
    background-color: inherit;
    border-width: 1px ;
    border-color: rgb(104, 105, 106);
    padding: 3px;
  }

  .postbt button:hover  {

    background-color: rgb(248, 249, 250);
  }